.register {
  width: 100vw;
  height: 100vh;
  background-color: #d4d9e7;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .registerWrapper {
    width: 80%;
    display: flex;

    .registerLeft {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 20px;
      justify-content: center;
      align-items: center;

      .chitChatLogo {
        height: 150px;
        width: 160px;
      }
      .registerLogo {
        font-size: 60px;
        font-weight: 800;
        color: #011631;
        margin-bottom: 10px;
      }

      .registerDesc {
        width: 100%;
        font-size: 28px;
        text-align: center;
      }
    }

    .registerRight {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 20px;
      justify-content: center;

      .registerBox {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        width: 100%;

        .rgisterForm {
          height: 450px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 10px;
          background-color: white;

          .registerInput {
            height: 50px;
            border-radius: 10px;
            padding-left: 20px;
            font-size: 18px;
            border: 1px solid gray;

            &:focus {
              outline: none;
            }
          }

          .registerButton {
            height: 50px;
            width: 100%;
            background-color: #011631;
            color: white;
            font-weight: 500;
            font-size: 23px;
            border-radius: 10px;
            border: none;
            margin-bottom: 5px;
            cursor: pointer;
          }

          .loginRegisterButton {
            height: 50px;
            width: 100%;
            background-color: #42b72a;
            color: white;
            font-weight: 500;
            font-size: 23px;
            border-radius: 10px;
            border: none;
            margin-bottom: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Responsive

@media only screen and (max-width: 568px) {
  .register {
    padding-top: 10px;
    .registerWrapper {
      display: flex;
      flex-direction: column;
      .registerLeft {
        .registerDesc {
          display: none;
        }
      }
    }
  }
}
