.reels {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(165, 137, 231);
  background: linear-gradient(
    90deg,
    rgba(165, 137, 231, 1) 0%,
    rgba(29, 218, 253, 0.48511904761904767) 62%,
    rgba(244, 238, 192, 0.9024859943977591) 100%
  );

  .nav {
    z-index: 1000;
  }

  .sliderInfo {
    position: absolute;
  }
}
