.login {
  width: 100vw;
  height: 100vh;
  background-color: #d4d9e7;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginWrapper {
    width: 80%;
    display: flex;

    .loginLeft {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 20px;
      justify-content: center;
      align-items: center;

      .chitChatLogo {
        height: 150px;
        width: 160px;
      }
      .loginLogo {
        font-size: 60px;
        font-weight: 800;
        color: #011631;
        margin-bottom: 10px;
      }

      .loginDesc {
        width: 100%;
        font-size: 28px;
        text-align: center;
      }
    }

    .loginRight {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 20px;
      justify-content: center;

      .bottomBox {
        height: 350px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background-color: white;

        .loginInput {
          height: 40px;
          border-radius: 10px;
          padding-left: 20px;
          font-size: 18px;
          border: 1px solid gray;

          &:focus {
            outline: none;
          }
        }

        .loginButton {
          height: 40px;
          width: 100%;
          background-color: #011631;
          color: white;
          font-weight: 500;
          font-size: 16px;
          border-radius: 10px;
          border: none;
          margin-bottom: 5px;
          cursor: pointer;
        }

        .loginRegisterButton {
          height: 40px;
          width: 100%;
          background-color: #42b72a;
          color: white;
          font-weight: 500;
          font-size: 16px;
          border-radius: 10px;
          border: none;
          margin-bottom: 5px;
          cursor: pointer;
        }

        .login__authOption {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          padding: 7px;
          margin-bottom: 15px;
          border: 1px solid lightgray;
          border-radius: 5px;
          cursor: pointer;
          height: 40px
        }
        
        .login__authOption:hover {
          background-color: rgb(226, 226, 226);
        }
        
        .login__authOption > img {
          height: 30px;
          object-fit: contain;
        }
        
        .login__authOption > p {
          margin-left: 11px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

// Responsive

@media only screen and (max-width: 568px) {
  .login {
    padding-top: 10px;
    .loginWrapper {
      display: flex;
      flex-direction: column;
      .loginLeft {
        .loginDesc {
          display: none;
        }
      }
    }
  }
}
